[project]
authors = ["gerald-scharitzer <gerald.scharitzer@gmail.com>"]
channels = ["conda-forge", "https://conda.modular.com/max"]
description = "Build and publish Conda packages from Mojo projects"
name = "tephrite"
platforms = ["linux-64"]
version = "0.2.0a0.dev0"

[tasks]
main = "mojo src/main.mojo"
test = "mojo test src"
mojo-build = "mkdir -p target && mojo build -o target/tephrite src/main.mojo"
mojo-pack = "mkdir -p target && mojo package -o target src/tephrite"
build = "mkdir -p target/conda && conda-build --output-folder target/conda recipe"
doc = "mkdir -p target && mojo doc -o target/tephrite-doc.json src/tephrite"
clean = "rm -rf target"

[dependencies]
max = ">=24.4.0,<25"
conda-build = ">=24.7.1,<25"
conda-verify = ">=3.1.1,<4"
anaconda-client = ">=1.12.3,<2"
pyyaml = ">=6.0.2,<7"
rattler-build = ">=0.26.0,<0.27"
