[project]
authors = ["gerald-scharitzer <gerald.scharitzer@gmail.com>"]
channels = ["conda-forge", "https://conda.modular.com/max"]
description = "Build Conda packages from Mojo projects"
name = "tephrite"
platforms = ["linux-64"]
version = "0.1.0a0.dev0"

[tasks]
build = "conda-build --output-folder target/conda recipe"
main = "mojo src/main.mojo"

[dependencies]
max = ">=24.4.0,<25"
conda-build = ">=24.7.1,<25"
conda-verify = ">=3.1.1,<4"
anaconda-client = ">=1.12.3,<2"
pyyaml = ">=6.0.2,<7"
